<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Preparate Default Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
</head>
<body>
    <h1>Hello There!</h1>
    <p>If you're seeing this page, it means you've successfully run Preparate</p>
</body>
</html>